package templates

templ Base(title string) {
<html data-theme="dark">

<head>
    <link rel="shortcut icon" href="https://sakura.rex.wf/linear/go-url" type="image/svg">
    <title>{ title }</title>


    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
</head>

<body style="width:50%;margin:0 auto">
    { children... }
</body>

</html>
}