package templates

templ Home(title string, logged_in bool) {
@Base(title) {
<h1>URL Shortener</h1>
<p class="text">Just to see how the frontpage looks</p>
if logged_in {
<br>
<span> to <a href="/dashboard"><span class="text-muted">dsahboard</span></a></span>
<br><br>
} else {
<br>
<span> to <a href="/register"><span class="text-muted">register</span></a></span>
<br><br>
<span> to <a href="/login"><span class="text-muted">login</span></a></span>
}
}

}