package templates

templ Home(title string) {
@Base(title) {
<h1>URL Shortener</h1>
<p class="text">Just to see how the frontpage looks</p>
<br>
<span> to <a href="http://localhost:8080/register"><span class="text-muted">register</span></a></span>
<br><br>
<span> to <a href="http://localhost:8080/login"><span class="text-muted">login</span></a></span>

}

}